<app-sec-header></app-sec-header>

<section class="mb-5 text-center container" >

    <h1>Set a new password</h1>
  
    <form  [formGroup]="registerForm" >
  
      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPass">New password </label>
        <div class="confirm">
        <input type="password" id="newPass" class="form-control" formControlName="password">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill show" viewBox="0 0 16 16" *ngIf="registerForm.valid">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      </div>
      </div>
  
      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password </label>
        <div class="confirm">
        <input type="password" id="newPassConfirm" class="form-control" formControlName="confirm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill show" viewBox="0 0 16 16" *ngIf="registerForm.valid">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
      </div>
      </div>
  
      <button type="submit" class="btn btn-success mb-4" [disabled]="registerForm.invalid"  (click)="updateUserDetails(userArr._id)">Change password</button>
  
    </form>
    </section>
<app-sec-footer></app-sec-footer>