<app-sec-header></app-sec-header>

<section class="mb-5 text-center container" >

    <h1>Set a new password</h1>
  
    <form  [formGroup]="registerForm" >
  
      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPass">New password </label>
        <input type="password" id="newPass" class="form-control" formControlName="password">
      
      </div>
  
      <div class="md-form md-outline">
        <label data-error="wrong" data-success="right" for="newPassConfirm">Confirm password </label>
        <input type="password" id="newPassConfirm" class="form-control" formControlName="confirm">
       
      </div>
  
      <button type="submit" class="btn btn-success mb-4"  (click)="updateUserDetails(userArr._id)">Change password</button>
  
    </form>
    </section>
<app-sec-footer></app-sec-footer>