<!-- Footer -->
 
 <!-- Footer -->
 <footer class="page-footer font-small stylish-color-dark pt-4 bg-dark">
 
   <!-- Footer Links -->
   <div class="container text-center text-md-left">
 
     <!-- Grid row -->
     <div class="row">
 
       <!-- Grid column -->
       <div class="col-md-4 mx-auto">
 
         <!-- Content -->
         <img  src="../assets/logo/logo.png" width="40" height="40" class="font-weight-bold text-uppercase mt-3 mb-4">Blogs💬
         <p>Beta blogs is a rising platform for connecting thoughts of 
           various people via Blogs. As well as it is an independent platform in which you can share your views & thoughts to reach various people around the globe.  
         </p>
 
       </div>
       <!-- Grid column -->
 
       <hr class="clearfix w-100 d-md-none">
 
       <!-- Grid column -->
       <div class="col-md-2 mx-auto">
 
         <!-- Links -->
         <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About us</h5>
 
         <ul class="list-unstyled Links effect">
           <li>
             <a style="color: seashell; font-family: sans-serif;" routerLink="/betaBlogs/about"><span>Contact</span></a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#!"><span>Gallery</span></a>
           </li>
           
         </ul>
 
       </div>
       <!-- Grid column -->
 
       <hr class="clearfix w-100 d-md-none">
 
       <!-- Grid column -->
       <div class="col-md-2 mx-auto">
 
         <!-- Links -->
         <h5 class="font-weight-bold text-uppercase mt-3 mb-4">My Account</h5>
 
         <ul class="list-unstyled effect">
           <li>
             <a style="color: seashell ; font-family: sans-serif;" routerLink="/register">Register</a>
           </li>
           <li>
             <a style="color: seashell ; font-family: sans-serif;" routerLink="/login">Login</a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#" routerLink="/admin/login">Admin Login</a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" routerLink="/forgotPassword">Forgot password</a>
           </li>
         </ul>
 
       </div>
       <!-- Grid column -->
 
       <hr class="clearfix w-100 d-md-none">
 
       <!-- Grid column -->
       <div class="col-md-2 mx-auto">
 
         <!-- Links -->
         <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h5>
 
         <ul class="list-unstyled effect">
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#!">Terms Of Service</a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#!">Copyright</a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#!">User Agreement</a>
           </li>
           <li>
             <a style="color: seashell; font-family: sans-serif;" href="#!">Privacy & Policy</a>
           </li>
         </ul>
 
       </div>
       <!-- Grid column -->
 
     </div>
     <!-- Grid row -->
 
   </div>
   <!-- Footer Links -->
 
   <hr >
 
   <!-- Call to action -->
   <ul class="list-unstyled list-inline text-center py-2 ">
     <li class="list-inline-item">
       <h5 style="font-family: sans-serif; color: seashell;" class="mb-1">Share your Blogs</h5>
     </li>
     <li class="list-inline-item">
       <a style="font-weight: bold;" routerLink="/login" class="btn btn-success btn-rounded">Sign up!</a>
     </li>
   </ul>
   <!-- <app-count-view style="text-align: center; font-family: sans-serif;font-size: 15px;color: white;"></app-count-view>
   <h1 style="text-align: center; font-family: sans-serif;font-size: 15px;color: white;">Visitors</h1> --> 
   <!-- Call to action
 
   <hr>
 
   <!-- Social buttons -->
   <ul class="list-unstyled list-inline text-center ">
     <li class="list-inline-item">
       <a class="btn-floating btn-fb mx-1">
         <i class="fa fa-facebook-f"> </i>
       </a>
     </li>
     <li class="list-inline-item">
       <a class="btn-floating btn-tw mx-1">
         <i class="fa fa-twitter"> </i>
       </a>
     </li>
     <li class="list-inline-item">
       <a class="btn-floating btn-gplus mx-1">
         <i class="fa fa-instagram"> </i>
       </a>
     </li>
     <li class="list-inline-item">
       <a class="btn-floating btn-li mx-1">
         <i class="fa fa-linkedin "> </i>
       </a>
     </li>
     <li class="list-inline-item">
       <a class="btn-floating btn-dribbble mx-1">
         <i class="fab fa-dribbble "> </i>
       </a>
     </li>
   </ul>
  
   <!-- Social buttons -->
 
   <!-- Copyright -->
   <div style="color: seashell;"class="footer-copyright text-center py-3 col">© 2020 Copyright:
     <a style="color: seashell;"href="https://mdbootstrap.com/"> BetaBlogs.com</a>
   </div>
   <!-- Copyright -->
 
 </footer>
 <!-- Footer -->
