<app-sec-header></app-sec-header>

<div class="container">
   <div class="row">
      <div class="col-6">
         <img class="dp" src="../assets/logo/logo.png" alt="">
      </div>
      <div class="col-6">
      <h1>Beta Blogs</h1>
      <p>It is a Blogging website in which Users can share their views with help of sharing blogs. To reach variety of people globally. Users can create their blogs by registering themselves on register section. <br>
        <span> Unneccassary blogs, images, and language will be punishable. Admin is always there to help you if you find anything offensive, just send a message to admin on chat with admin section</span>
      </p>
   </div>
   
   </div>
</div>

<app-sec-footer></app-sec-footer>