mat-sidenav {
   background-color: lightcoral;
   box-shadow: 0 0 1.5em;
   height: 100%;
   width: 200px;
}
mat-sidenav-container{
   background-color: lightgray;
   height: 100%;
   width: 100%;
}
.container{
   background-color: white;
   border-radius: 2%;
   margin-top: 20px;
}
.media{
   border-radius: 1.5%;
   border: 0.5px solid rgba(192, 187, 187, 0.788);
   box-shadow: 5px 5px #c7c4c4;
   margin-bottom: 10px ;
   padding: 10px;
}
h1{
   font-weight: 500;
}
.card-img-top{
   max-width: 250px;
   max-height: 250px;
}
.mb-0{
   -webkit-line-clamp: 4; /* number of lines to show */
   word-break: break-word;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
}
.card-img-top{
   margin-left: calc((100% - 250px) / 2);
 }