<app-header></app-header>
<router-outlet></router-outlet>
 <!-- new para -->
 



<!--  -->

<div class="container">
  <div class="row media" *ngFor="let obj of allBlogs | paginate: { itemsPerPage: 5, currentPage: p }"   >
   <!-- <div class="media"> -->
     <div id="Content" class="col-lg-4">
         
         <img src="https://beta-blog-backend.onrender.com/uploads/{{obj.Upload.slice(12)}} "width="150px" height="150px" class="card-img-top" alt="..." >
         <!-- <img src="http://localhost:3000/{{obj.Upload}" class="align-self-center mr-3" alt="..." > -->
       </div>
        
         <div class="col-lg-8" >
             <h1 class="mt-2">{{obj.title}} </h1>
             <p class="mb-0"  >{{obj.Content}} </p>
             <a routerLink="/specific-blog/{{obj._id}}"  >read more ..</a>
             
             <p style="margin-top: 10px;
             font-weight: 500;">by {{obj.author}}</p> <br>
             <h6>{{obj.createdAt.slice(0,10)}}</h6>
             
          
       <!-- </div> -->
</div>
</div>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

 <app-footer></app-footer> 