<app-header></app-header>
<router-outlet></router-outlet>
 <!-- new para -->
 

<div class="container">
  <div class="row" >
    <div id="Content" class="row media" *ngFor="let obj of allBlogs.reverse() | paginate: { itemsPerPage: 5, currentPage: p }">
       
      <div class="col-lg-4">
       <img src="http://localhost:3000/uploads/{{obj.Upload.slice(12)}}" class="card-img-top" alt="...">
      </div>
    <div class="col-lg-8">
     
       <h1 class="mt-0">{{obj.title}}</h1>
       <p class="mb-0" *ngIf="!show" >{{obj.Content}} </p>
       <a routerLink="/tab/news" (click)="show = !show" *ngIf="!show">read more ..</a>
       <p class="mb-1" *ngIf="show">{{obj.Content}}</p>
       <p style="margin-top: 10px;
       font-weight: 500;">by {{obj.author}}</p>
       <h6>{{obj.createdAt.slice(0,10)}}</h6>
       <hr>
    </div>

</div>
</div>
</div>  
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<app-footer></app-footer>