/* header */
.navbar-brand-center{
   margin-left: auto;
   margin-right: auto;
   
   
}
.navbar-brand{
   font-size: 30px;
   font-family: sans-serif;
  /* text align with image */
   display: flex;
   align-items:center;
}


/* The side navigation menu */
.sidebar {
   margin: 0;
   padding: 0;
   width: 200px;
   background-color: #e8eaed;
   position: absolute;
   height: 100%;
   overflow: hidden;
   top: auto;
 }
 
 /* Sidebar links */
 .sidebar a {
   display: block;
   color: black;
   padding: 16px;
   text-decoration: none;
 }
 
 /* Active/current link */
 .sidebar a.active {
   background-color:#d46622 ;
   color: white;
 }
 
 /* Links on mouse-over */
 .sidebar a:hover:not(.active) {
   background-color: #555;
   color: white;
 }
 
 /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
 div.content {
   margin-left: 200px;
   padding: 1px 16px;
   height: auto;
 }
 
 /* On screens that are less than 700px wide, make the sidebar into a topbar */
 @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

.sidebar {
  display: none;
}
 }
 form{
   margin-top: 30px;
   margin-bottom: auto;
}
button{
   margin-bottom: 30px;
}

svg{
   margin: 5px;
}
.media{
   border-radius: 1.5%;
   border: 0.5px solid rgba(192, 187, 187, 0.788);
   box-shadow: 5px 5px #c7c4c4;
   margin-bottom: 10px ;
 }
 p{
   margin: 5px;
 }