<app-header></app-header>
<router-outlet></router-outlet>


<!--  -->
<div class="container">
  
     <div id="Content" class="row media" *ngFor="let obj of allBlogs.reverse() | paginate: { itemsPerPage: 5, currentPage: p }">
       
         <div class="col-lg-4">
          <img src="http://localhost:3000/uploads/{{obj.Upload.slice(12)}}" class="card-img-top" alt="...">
         </div>
       <div class="col-lg-8">
        
          <h1 class="mt-0">{{obj.title}}</h1>
          <p class="mb-0" *ngIf="!show" >{{obj.Content}} </p>
          <a routerLink="/tab/coronavirus" (click)="show = !show" *ngIf="!show">read more ..</a>
          <p class="mb-1" *ngIf="show">{{obj.Content}}</p>
          <p style="margin-top: 10px;
          font-weight: 500;">by {{obj.author}}</p>
          <h6>{{obj.createdAt.slice(0,10)}}</h6>
          <hr>
       </div>

</div>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>


 <mat-sidenav #sidenav mode="slide" opened=false>
  <button (click)="sidenav.close()" >x</button>





<ul>
  <li><a href="#">Home</a></li>
  <li><a href="#" routerLink="/register">Register</a></li>
  <li><a href="#" routerLink="/login">Login</a></li>
  <li><a href="#">contact</a></li>
  <li><a href="#">Forgot password</a></li>
  <li><a href="#" routerLink="/admin">Admin Login</a></li>

</ul>


</mat-sidenav>



<app-footer></app-footer>